* {
box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

label [for="menu-toggle"] {
    display: none;
}

label [for="menu-toggle"] span {
    display: none;
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

header, section, footer {
    position: relative;
    z-index: 2;
}

header {
    background-color: #1a1a1a55;
    padding: 5px 5px;
}

header h1 {
    font-size: 32px;
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
    align-content: space-between;
    margin-left: 60px;
    background-color: rgba(0, 0, 0, 0.104);
    padding: 10px;
    gap: 40px;
}

nav ul {
    display: flex;
    align-content: space-between;
    margin-left: 70px;
    background-color: rgba(0, 0, 0, 0.103);
    padding: 10px;
    gap: 20px;
}

nav a {
    color: #00ff00;
    text-decoration: none;
    margin-left: 60px;
    transition: border-bottom-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Estilo de Titulos */
header h1 {
    text-align: center;
    color: #33ff33;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

h3 {
    color: rgb(72, 255, 0);
}

/* Estilo de Contenido y Secciones */
p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

body {
    font-family: Hack, monospace;
    line-height: 1.45;
    margin: 0;
    padding: 0;
    background-color: #2a2a2a2a;
    color: #ffffff;
}

section {
    padding: 20px 10px;
}

ul li::before {
    content: "•";
    color: #00ff00;
    display: inline-block; 
    width: 1em;
    margin-left: -1.2em;
    margin-right: 1em;
}

section#characteristics ul {
    list-style-type: none;
    padding: 0;
}

section#characteristics li {
    margin-bottom: 10px;
}

section#objetive ul {
    list-style-type: none;
    padding: 0;
}

section#objetive li {
    margin-bottom: 10px;
}

section#about_us ul {
    list-style-type: none;
    padding: 0;
}

section#about_us li {
    margin-bottom: 10px;
}

section h2 {
    color: lightgreen;
    text-shadow: 0 0 2px #33ff33, 0 0 4px rgba(51, 255, 51, 0.5), 0 0 6px rgba(51, 255, 51, 0.3);
    animation: pulse 10s infinite;
}

section p {
    color: #ffffff;
}

section#intro p,
section#objetive li,
section#requirements .project,
section#characteristics p,
section#idea p,
section#about_us p,
section#enroll p,
section#quotes .quote p {
    color: #ffffff;
}

footer {
    background-color: #ffffff00;
    padding: 10px 0;
    text-align: center;
    color: #cccccc;
}

/* Clases de NAVBAR */


.navbar {
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    text-align: center;
    align-content: center;
    gap: 20px;
}

.nav-links {
    list-style: none;
    justify-content: space-between;
    display: flex;
}

.nav-links a {
    text-align: center;
    justify-content: space-around;
    margin: 40px 0;
    justify-content: space-between;
    display: contents;
}

.nav-links li a{
    color: white;
    text-decoration: none;
}

.navbar a {
    color: #0F0;
    padding: 6px 10px;
    margin: 20px 0;
    text-decoration: none;
}

.navbar a:hover {
    color: #00ff00;
}

/* Clases de Contenedores y contenido */
.container {
    max-width: 850px;
    padding: 10px;
    margin: 0 auto;
}

.project {
    margin-bottom: 10px;
}

.glowing {
    text-shadow: 0 0 2px #33ff33, 0 0 4px rgba(51, 255, 51, 0.5), 0 0 6px rgba(51, 255, 51, 0.3);
    animation: pulse 10s infinite;
}

.nickname {
    color: crimson;
}

.bold-text {
    font-weight: bold;
    font-size: 1.1em;
}

.glowing_2 {
    text-shadow: 0 0 2px #33ff33, 0 0 4px rgba(51, 255, 51, 0.5), 0 0 6px rgba(51, 255, 51, 0.3);
    animation: neontitle 6s infinite;
}
/* Clase para ajuste de NAVBAR Hamburguer MENU */
.show-menu {
    display: none;
}

/* Estilos de Pie de Página y su distribución */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #e0e0e0;
}

.footer-left, .footer-center, .footer-right {
    flex-basis: 30%;
    width: 25%;
    text-align: left;
}

.footer-left p, .footer-center p,   .footer-right p {
    font-size: 12px;
}

.footer-left {
    text-align: left;
}

.footer-left a{
    color: #f8ab20;
}

.footer-glowing {
    text-shadow: 0 0 .5px #ffffff, 0 0 1px rgba(255, 255, 255, 0.92), 0 0 1.4px rgb(255, 255, 255, 0.92);
}

.footer-right {
    text-align: right;
}

.footer-right a {
    color: #f8ab20;
}

/* Social Media */
#apple,
#twitter,
#github,
#facebook {
    font-size: 7em;
    background-color: #18191f;
    color: #fff;
    box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
    border-radius: 14.5px;
    padding: 5.5px 9.5px;
    justify-content: space-between;
    margin-left: 60px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 12.5px #0072ff, 0 0 25px #0072ff, 0 0 37.5px #0072ff,
    0 0 25px #0072ff;
}
#twitter {
    animation-delay: 0.3s;
}
#facebook {
    animation-delay: 0.7s;
}
#github {
    animation-delay: 0.1s;
}

#menu-toggle,
label [for="menu-toggle"] {
    display: none;
}

/* Estilos de Cita */
blockquote {
    border-left: 5px solid #00ff00;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "“" "”" "‘" "’";
}

#quotes {
    padding: 20px 0;
}

#quotes blockquote {
    border-left: 4px solid #33ff33;
    padding-left: 20px;
    margin-bottom: 20px;
}

#quotes blockquote p {
    font-family: Helvetica, sans-serif;
    font-style: italic;
    font-size: 18px;
    margin-bottom: 10px;
    display: inline;
}

#quotes blockquote footer {
    font-style: italic;
    font-size: 18px;
    color: #ff0000;
}

blockquote:before {
    color: #00ff00bd;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote:after {
    color: #00ff00bd;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-left: 0.25em;
    vertical-align: -0.4em;
}

/* Diseño de Animaciones Implementadas */

@keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    } 
}

@keyframes pulse {
    0% {
        text-shadow: 0 0 2px #33ff33, 0 0 4px rgba(51, 255, 51, 0.5), 0 0 6px rgba(51, 255, 51, 0.3);
        color: #33ff33;
    }
    50% {
        text-shadow: none;
        color: #22cc22;
    }
    100% {
        text-shadow: 0 0 2px #33ff33, 0 0 4px rgba(51, 255, 51, 0.5), 0 0 6px rgba(51, 255, 51, 0.3);
        color: #33ff33;
    }
}

@keyframes neontitle {
    0% {
        text-shadow: 0 0 2px #33ff33, 0 0 4px rgba(51, 255, 51, 0.5), 0 0 6px rgba(51, 255, 51, 0.3);
        color: #33ff33;
    }
    50% {
        text-shadow: none;
        color: #33ff33;
    }
    100% {
        text-shadow: 0 0 2px #33ff33, 0 0 4px rgba(51, 255, 51, 0.5), 0 0 6px rgba(51, 255, 51, 0.3);
        color: #33ff33;
    }
}

/* --- Estilos Responsivos --- */

/* Ajustes para móviles pequeños (menos de 600px) */
@media (max-width: 768px) {
    /* Header */
    header h1 {
        font-size: 24px;
        padding: 10px;
        margin-bottom: 25px;
    }

    nav {
        justify-content: space-around;
    }

    nav ul {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.103);
    }

    nav a {
        padding: 10px;
        margin:10px 0;
        font-size: 16px;
        text-align: center;
        width: 100%;
    }

    label [for="menu-toggle"] {
        display: inline-block;
        cursor: pointer;
        padding: 10px;
    }
    
    label [for="menu-toggle"] span {
        display: block;
        width: 30px;
        height: 3px;
        margin: 5px;
        background-color: white;
    }

    .container {
        padding: 10px;
    }

    .hamburguer {
        cursor: pointer;
        display: inline-block;
        padding: 15px;
    }
    
    .hamburguer span {
        display: flex;
        width: 30px;
        height: 3px;
        margin: 5px;
        background-color: #fff;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.103);
        position:sticky ;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 10px;
    }

    .nav-links a {
        color: rgba(0, 255, 0, 0.694);
        margin-bottom: 15px;
        padding: 10px;
        text-decoration: none;
    }

    .nav-links a:hover {
        background-color: #444;
    }

    #menu-toggle:checked + .hamburguer + .nav-links {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
        margin-bottom: 15px;
    }

    /* Social Media */
#apple,
#twitter,
#github,
#facebook {
    font-size: 4.5em;
    background-color: #18191f;
    color: #fff;
    box-shadow: 1px 1px 1px #00000080, 5px 1px 6px #00000080,
    1px 1px 5px #00000080, 1px 1px 1.5px #00000080, inset 1px 1px 5px #00000080,
    inset 1px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 1px 1px 5px #00000080;
    border-radius: 14.5px;
    padding: 5.5px 9.5px;
    margin: 12.5px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 12.5px #0072ff, 0 0 25px #0072ff, 0 0 37.5px #0072ff,
    0 0 25px #0072ff;
}
#twitter {
    animation-delay: 0.3s;
}
#facebook {
    animation-delay: 0.7s;
}
#github {
    animation-delay: 0.1s;
}

#menu-toggle,
    label[for="menu-toggle"] {
        display: inline-block; /* Mostrar el menú hamburguesa solo en pantallas pequeñas */
}


#menu-toggle {
    display: none;
}

#menu-toggle:checked + label span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

#menu-toggle:checked + label span:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked + label span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-left, .footer-center, .footer-right {
        width: 100%;
        margin-bottom: 10px;
    }

    .footer-left p, .footer-center p, .footer-right p {
        font-size: 12px;
    }
}

/* Ajustes para tabletas (entre 600px y 1000px) */
@media (min-width: 600px) and (max-width: 1000px) {
    header h1 {
        font-size: 28px;
        padding: 15px;
    }

    .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    }

    nav a {
        padding: 10px 15px;
        font-size: 18px;
    }

    .container {
        padding: 15px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 17px;
    }

    .footer-left, .footer-center, .footer-right {
        width: 30%;
        text-align: center;
    }

    #menu-toggle,
    label[for="menu-toggle"] {
        display: none;
    }

}

/* Ajustes para pantallas grandes (más de 1000px) */
@media (min-width: 1001px) {
    header h1 {
        font-size: 36px;
        padding: 20px;
    }

    .nav-links {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    nav a {
        padding: 10px 20px;
        font-size: 20px;
    }

    .container {
        padding: 20px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 18px;
    }

    .footer-left, .footer-center, .footer-right {
        width: 30%;
    }
}

@media (min-width: 769px) {
    .nav-links {
        display: flex;
    }


    .menu-icon {
        display: none;
    }
}
