canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
}

header, section, footer {
    position: relative;
    z-index: 2;
}

header {
    background-color: #1a1a1a55;
    padding: 5px 5px;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

nav a {
    color: #9af5f0;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

nav a:hover {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}

header h1 {
    text-align: center;
    color: #33ff33;
}

h3 {
    color: rgb(72, 255, 0);
}

body {
    font-family: Hack, monospace;
    line-height: 1.45;
    margin: 0;
    padding: 0;
    background-color: #2a2a2a;
    color: #ffffff;
}

section {
    padding: 20px 10px;
}

ul li::before {
    content: "•";
    color: #00ff00;
    display: inline-block; 
    width: 1em;
    margin-left: -1.2em;
    margin-right: 1em;
}

section#characteristics ul {
    list-style-type: none;
    padding: 0;
}

section#characteristics li {
    margin-bottom: 10px;
}

section#objetive ul {
    list-style-type: none;
    padding: 0;
}

section#objetive li {
    margin-bottom: 10px;
}

section#about_us ul {
    list-style-type: none;
    padding: 0;
}

section#about_us li {
    margin-bottom: 10px;
}

section h2 {
    color: lightgreen;
    text-shadow: 0 0 2px #33ff33, 0 0 4px rgba(51, 255, 51, 0.5), 0 0 6px rgba(51, 255, 51, 0.3);
    animation: pulse 10s infinite;
}

section p {
    color: #ffffff;
}

section#intro p,
section#objetive li,
section#requirements .project,
section#characteristics p,
section#idea p,
section#about_us p,
section#enroll p,
section#quotes .quote p {
    color: #ffffff;
}

footer {
    background-color: #ffffff00;
    padding: 10px 0;
    text-align: center;
    color: #cccccc;
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
    padding: 10px;
    transition: background-color 0.3s;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-links li {
    margin: 0;
}

.navbar a {
    color: #0F0;
    padding: 6px 10px;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #00ff00;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.project {
    margin-bottom: 10px;
}

.glowing {
    text-shadow: 0 0 2px #33ff33, 0 0 4px rgba(51, 255, 51, 0.5), 0 0 6px rgba(51, 255, 51, 0.3);
    animation: pulse 10s infinite;
}

.nickname {
    color: crimson;
}

.bold-text {
    font-weight: bold;
    font-size: 1.1em;
}

.glowing_2 {
    text-shadow: 0 0 2px #33ff33, 0 0 4px rgba(51, 255, 51, 0.5), 0 0 6px rgba(51, 255, 51, 0.3);
    animation: neontitle 6s infinite;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #e0e0e0;
}

.footer-left, .footer-center, .footer-right {
    width: 25%;
    text-align: center;
}

.footer-left {
    text-align: left;
}

.footer-left a{
    color: #f8ab20;
}

.footer-glowing {
    text-shadow: 0 0 .5px #ffffff, 0 0 1px rgba(255, 255, 255, 0.92), 0 0 1.4px rgb(255, 255, 255, 0.92);
}

.footer-right {
    text-align: right;
}

.footer-right a {
    color: #f8ab20;
}

blockquote {
    border-left: 5px solid #00ff00;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "“" "”" "‘" "’";
}

#quotes {
    padding: 20px 0;
}

#quotes blockquote {
    border-left: 4px solid #33ff33;
    padding-left: 20px;
    margin-bottom: 20px;
}

#quotes blockquote p {
    font-family: Helvetica, sans-serif;
    font-style: italic;
    font-size: 18px;
    margin-bottom: 10px;
    display: inline;
}

#quotes blockquote footer {
    font-style: italic;
    font-size: 18px;
    color: #ff0000;
}

blockquote:before {
    color: #00ff00bd;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote:after {
    color: #00ff00bd;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-left: 0.25em;
    vertical-align: -0.4em;
}

@keyframes pulse {
    0% {
        text-shadow: 0 0 2px #33ff33, 0 0 4px rgba(51, 255, 51, 0.5), 0 0 6px rgba(51, 255, 51, 0.3);
        color: #33ff33;
    }
    50% {
        text-shadow: none;
        color: #22cc22;
    }
    100% {
        text-shadow: 0 0 2px #33ff33, 0 0 4px rgba(51, 255, 51, 0.5), 0 0 6px rgba(51, 255, 51, 0.3);
        color: #33ff33;
    }
}

@keyframes neontitle {
    0% {
        text-shadow: 0 0 2px #33ff33, 0 0 4px rgba(51, 255, 51, 0.5), 0 0 6px rgba(51, 255, 51, 0.3);
        color: #33ff33;
    }
    50% {
        text-shadow: none;
        color: #33ff33;
    }
    100% {
        text-shadow: 0 0 2px #33ff33, 0 0 4px rgba(51, 255, 51, 0.5), 0 0 6px rgba(51, 255, 51, 0.3);
        color: #33ff33;
    }
}
